body {
    background-color: rgb(255, 255, 255);
  }

h1 {
    font-family: "BBH Hegarty", sans-serif;
    font-size: 32px;
    text-align: center;
  }

  p {
    font-family: "Lora", serif;
    font-size: 20px;
  }

 .Home-Icon {
  width: 25px;
  height:auto;
  margin-right:50px;
 }

  .Gallery-Icon {
  width: 25px;
  height:auto;
  margin-right:50px;
 }
  
  nav {
    background-color:white;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 2px solid black;
    height: 50px;
    position: sticky;
    top:0;
    z-index: 100;
  }
  
  .Nav-Links {
    gap: 20px;
    display: flex;
    margin-left: 600px;
  }

  .Navbar a.active {
    border-bottom: 2px solid #c8a04a !important;
    padding: 5px;
  }

  .Navbar {
    a:link, a:visited {
      background-color: white;
      color: black;
      padding: 15px 20px;
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
      text-decoration: none;
      display: inline-block;
      transition-duration: 0.4s;
      border: 5px solid white;
      border-radius: 12px;
    }

    a:hover, a:active {
        background-color: rgb(245, 240, 240);
        color: white;
        border: 5px solid rgb(241, 236, 236);
        border-radius: 12px;
    }
}

.FrontImage {
  width:100%;
  height: 800px;
  display: block;
  object-fit: cover;
  object-position: bottom;
  margin-top: 15px;
}

.Front {
  position: relative;
  width: 100%;
  display: block;
}

.Title {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 250px;
  height: auto;
}

.Title1 {
  position: absolute;
  top: 18%;
  left: 7%;
  color: white;
  font-size: 15px;
  font-family: "Playfair Display", serif;
}

.Scroll-Gallery-Border {
  margin-top: 60px;
  padding: 20px;
  position: relative;
}

.Scroll-Gallery-Sections {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 15px;
  margin-bottom: 0;
  align-items: stretch;
}

.Scroll-Gallery-Sections::-webkit-scrollbar-track {
  background: white;
}

.Scroll-Gallery-Sections::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 6px;
}

.Scroll-Gallery-Sections::-webkit-scrollbar-thumb:hover {
  background: #525151;
}

.Scroll-Gallery-Boxes {
  min-width: 450px;
  width: 450px;
  flex-shrink: 0;
  background-color: white;
  padding: 10px;
  height: 450px;
  border-right: 1px solid black;
  margin-bottom: 30px;
}

.Scroll-Gallery-Boxes p {
  font-family: "Lora", serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.Scroll-Gallery-Boxes h3 {
  font-family: "Lora", serif;
  font-size: 18px;
  margin: 10px 0 5px;
}

.Scroll-Gallery-Images {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.Scroll-Gallery-Footer {
display: flex;
justify-content: flex-end;
}

.Scroll-Gallery-Footer1 {
  font-family: "Lora", serif;
  font-size: 14px;
  text-decoration: underline;
}

  .Scroll-Gallery-Footer1:hover {
      color: gray;
  }


.img {
  display: block;
  margin-right: 10px;
}

.Footer {
  display: flex;
  gap: 40px;
  padding: 40px;
  background-color: rgb(241, 236, 236);
  margin-top: 50px;
}

.About {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 100px;
}

.Socials {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 1400px;
}

.About h3 {
  font-family: "Lora", serif;
  font-size: 18px;
  margin: 0 0 8px 0;
}

.Socials h3 {
  font-family: "Lora", serif;
  font-size: 18px;
  margin: 0 0 8px 0;
}

.About p {
  font-family: "Lora", serif;
  font-size: 14px;
  margin: 0;
}

.Socials a {
  font-family: "Lora", serif;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.WonderBox {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-bottom: 1px solid #dddddd;
}

.WonderBoxReverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-bottom: 1px solid #dddddd;
}

.WonderImage {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

.WonderText {
  width: 50%;
}

.WonderNumber {
  color: #c8a04a;
  font-family: "Lora", serif;
  font-size: 16px;
  margin: 0;
}

.WonderText h2 {
  font-family: "playfair Display", serif;
  font-size: 36px;
  margin: 5px 0;
}

.WonderLocation {
  color: #c8a04a;
  font-family: "Lora", serif;
  font-family: 14px;
}

.WonderLink {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 20px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  font-family: "Lora", serif;
  font-size: 14px;
}

.WonderLink:hover {
  background-color: #f1f1f1;
}

.Banner {
  position:relative;
  width: 100%;
}

.BannerImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.BannerText {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(-50% -50%);
  text-align: center;
  color: white;
  width: 50%;
  margin: auto;
  border-top: 1px solid #c8a04a;
  border-bottom: 1px solid #c8a04a;
}

.BannerText h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  margin: 0 0 10px 0;
  color: white;
}

.WondersTop {
  display: flex;
  gap: 40px;
  padding: 40px;
  align-items: center;
}

.WondersImage {
  width: 50%;
  height: 350px;
  object-fit: cover;
}

.WondersText {
  width: 50%;
}

.WondersText h2 {
  font-family: "Playfair Display",serif;
  font-size: 36px;
  margin: 0 0 5px 0;
}

.WondersLocation{
  color: #c8a04a;
  font-family: "Lora", serif;
  font-size: 16px;
  margin:0 0 15px 0;
}

.KeyFacts {
  background-color: #f5ede0;
  padding: 20px 30px;
  margin: 0 40px;
  width: 300px;
  margin-left: 100px;
}

.KeyFacts h3 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin: 0 0 15px 0;
}

.KeyFacts p {
  font-family: "Lora", serif;
  font-size: 14px;
  margin: 5px 0;
}

.Gallery {
  padding: 40px;
}

.Gallery h2 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  text-align: center;
  margin: 0 0 20px 0;
}

.GalleryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px ;
}

.GalleryImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.SocialIcons {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.Back {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 25px;
  color: black;
}

.Back a:hover {
  color: rgb(247, 244, 244);
}