body {
    background-color: rgb(255, 255, 255);
  }

h1 {
    font-family: "BBH Hegarty", sans-serif;
    font-size: 32px;
    text-align: center;
  }

  p {
    font-family: "Lora", serif;
    font-size: 20px;
  }

 .Home-Icon {
  width: 25px;
  height:auto;
  margin-right:50px;
 }
  
  nav {
    background-color:white;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 2px solid black;
    height: 50px;
    position: sticky;
    top:0;
    z-index: 100;
  }
  
  .Nav-Links {
    gap: 20px;
    display: flex;
    margin-left: 600px;
  }

  .Navbar {
    a:link, a:visited {
      background-color: white;
      color: black;
      padding: 15px 20px;
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
      text-decoration: none;
      display: inline-block;
      transition-duration: 0.4s;
      border: 5px solid white;
      border-radius: 12px;
    }

    a:hover, a:active {
        background-color: rgb(236, 229, 229);
        color: white;
        border: 5px solid rgb(223, 215, 215);
        border-radius: 12px;
    }
}

.FrontImage {
  width:100%;
  height: 800px;
  display: block;
  object-fit: cover;
  object-position: bottom;
  margin-top: 15px;
}

.Front {
  position: relative;
  width: 100%;
  display: block;
}

.Title {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 250px;
  height: auto;
}

.Title1 {
  position: absolute;
  top: 18%;
  left: 7%;
  color: white;
  font-size: 15px;
  font-family: "Playfair Display", serif;
}

.Scroll-Gallary-Border {
  padding: 30px 20px 10px;
}

.Scroll-Gallary-Sections {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}

.Scroll-Gallary-Boxes {
  min-width: 250px;
  background-color: white;
  padding: 15px;
  flex-shrink: 0;
}

.Scroll-Gallary-Images {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.Scroll-Gallary h3 {
  font-family: "Lora", serif;
  font-size: 10px;
  margin: 10px 0 5px;
}

.Scroll-Gallary p {
  font-family: "Lora", serif;
}

.Scroll-Gallary-Footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.Scroll-Gallary-Footer1 {
  color: black;
  font-family: "Lora", serif;
  font-size: 14px;
  text-decoration: underline;

  .Scroll-Gallary a:hover {
      color: gray;
  }
}
.img {
  display: block;
  margin-right: 10px;
}