body {
    background-color: rgb(255, 255, 255);
  }

h1 {
    font-family: "BBH Hegarty", sans-serif;
    font-size: 32px;
    text-align: center;
  }

  p {
    font-family: "Lora", serif;
    font-size: 20px;
  }

 .Home-Icon {
  width: 25px;
  height:auto;
  margin-right:50px;
 }
  
  nav {
    background-color:white;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 2px solid black;
    height: 50px;
    position: sticky;
    top:0;
    z-index: 100;
  }
  
  .Nav-Links {
    gap: 20px;
    display: flex;
    margin-left: 600px;
  }

  .Navbar {
    a:link, a:visited {
      background-color: white;
      color: black;
      padding: 15px 20px;
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
      text-decoration: none;
      display: inline-block;
      transition-duration: 0.4s;
      border: 5px solid white;
      border-radius: 12px;
    }

    a:hover, a:active {
        background-color: rgb(245, 240, 240);
        color: white;
        border: 5px solid rgb(241, 236, 236);
        border-radius: 12px;
    }
}

.FrontImage {
  width:100%;
  height: 800px;
  display: block;
  object-fit: cover;
  object-position: bottom;
  margin-top: 15px;
}

.Front {
  position: relative;
  width: 100%;
  display: block;
}

.Title {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 250px;
  height: auto;
}

.Title1 {
  position: absolute;
  top: 18%;
  left: 7%;
  color: white;
  font-size: 15px;
  font-family: "Playfair Display", serif;
}

.Scroll-Gallery-Border {
  margin-top: 60px;
  padding: 20px;
  position: relative;
}

.Scroll-Gallery-Sections {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 15px;
  margin-bottom: 0;
  align-items: stretch;
}

.Scroll-Gallery-Sections::-webkit-scrollbar-track {
  background: white;
}

.Scroll-Gallery-Sections::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 6px;
}

.Scroll-Gallery-Sections::-webkit-scrollbar-thumb:hover {
  background: #525151;
}

.Scroll-Gallery-Boxes {
  min-width: 450px;
  width: 450px;
  flex-shrink: 0;
  background-color: white;
  padding: 10px;
  height: 450px;
  border-right: 1px solid black;
  margin-bottom: 30px;
}

.Scroll-Gallery-Boxes p {
  font-family: "Lora", serif;
  font-size: 14px;
  margin: 0;
  overflow: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.Scroll-Gallery-Images {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.Scroll-Gallery h3 {
  font-family: "Lora", serif;
  font-size: 18px;
  margin: 10px 0 5px;
}

.Scroll-Gallery p {
  font-family: "Lora", serif;
  font-size: 14px;
  margin: 0;
}

.Scroll-Gallery-Footer {
display: flex;
justify-content: flex-end;
margin-end: 8px;
}

.Scroll-Gallery-Footer1 {
  font-family: "Lora", serif;
  font-size: 14px;
  text-decoration: underline;
}

  .Scroll-Gallery-Footer1:hover {
      color: gray;
  }


.img {
  display: block;
  margin-right: 10px;
}